.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 80%;

    table {
        width: auto;
        height: auto;
    }

    button {
        width: auto;
        margin-top: 50px;
    }
}