.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 80%;

    mat-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 350px;
    }

    input {
        text-align: center;
        width: 250px;
    }

    button {
        width: auto;
        margin-top: 50px;
    }

    * {
        width: 250px;
    }
}